/* Font import =========================================== */


/* Nullstyles import ===================================== */
@import "./nullstyle.css";

body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6c7279;
    -webkit-font-smooth: antialiased;
    background-color: #fff;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    /* 1200px = 1170 + 15px слева и справа */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header ================================================== */